@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --app-bg: #f8fafc;
  --app-fg: #0f172a;
}

.dark {
  --app-bg: #020617;
  --app-fg: #e2e8f0;
}

html,
body {
  background-color: var(--app-bg);
  color: var(--app-fg);
}

/* Custom Scrollbar agar terlihat modern */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;
}
